
input{
    margin-left: 15%;
    margin-bottom: 5%;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

@media (max-width: 1440px) {
    form {
        font-size: 15px;
    }
    .button #cancel, .button #submit {
        width: 130px;
    }

}