img {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

@media (max-width: 1440px) {
    #logar{
        margin-top: 20px;
    }

}