* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://wallpapercave.com/wp/wp9024400.jpg");
    background-size: cover;
}

h1{
    text-align: center;
    color: #fff;
}

.cabecalho {
    display: flex;
    justify-content: space-between;

    background-color: aliceblue;
    width: 50vw;
    height: 4vh;
    margin-left: 25vw;
}

#left{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 10%;
    height: 80%;
}

#right{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 10%;
    height: 80%;
}

.img{
    margin-top: 10%;
}

.find{
    border:solid 1px;
    border-radius:15px;
    width:70%;
}
  
#txtBusca{
    float:left;
    background-color:transparent;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width: 92.2%;
}

#findImg{
    margin-top: 0.5%
}



